@page "/signup"
@namespace BlazorApp.Components.Pages
@rendermode InteractiveServer

<PageTitle>Sign Up - Bidinly</PageTitle>

<div class="signup-section">
    <div class="signup-container">
        <h1>Sign Up</h1>
        <p class="signup-message">Sign up functionality coming soon!</p>
        <p>For now, please contact an administrator to create an account.</p>
        <NavLink class="back-link" href="/">← Back to Home</NavLink>
    </div>
</div>



