@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <NavMenu />

    <main @key="@Navigation.ToBaseRelativePath(Navigation.Uri)">
        @Body
    </main>
</div>

