@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<div class="page">
    <AuthorizeView>
        <Authorized>
            <NavMenuAuthenticated />
        </Authorized>
        <NotAuthorized>
            <NavMenu />
        </NotAuthorized>
    </AuthorizeView>

    <main @key="@Navigation.ToBaseRelativePath(Navigation.Uri)">
        @Body
    </main>
</div>

